body {
    display: inline;
    align-items: center;
    justify-content: flex-start;
    justify-items: center;
    background-image: linear-gradient(#38040E, #633f46);
    margin: 0;
    border: none;
    padding: 0;
    overflow-x: hidden;
}

button {
    font-family:'Times New Roman', Times, serif;
    cursor: pointer;
}

p {
    font-family:'Times New Roman', Times, serif;
}

.top {
    display: flex;
    align-items: center;
    background-color: #250902;
    width: 100%;
    height: 10vh
}

.TitleButton{
    background-color: rgba(255, 255, 255, 0.5);
    height: 80%;
    margin-left: 1rem;
    margin-right: 1rem;
    width: calc(100% / 3);
    border-radius: 1em;
    font-size:x-large;
    border: none;
    outline: none;
    transition: 0.5s ease;
}

.TitleButton:hover{
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    font-size: xx-large;
}

.SelectionFrame {
    position: relative;
    padding: 0.5em;
    height: calc(90vh - (0.5em * 2));
    width: calc(20vw - 0.5em);
    background-image: linear-gradient(#ec9298, #5c4546);
}

.SportSelect {
    position: absolute;
    display: inline-table;
    justify-content: flex-start;
    justify-items: flex-start;
    height: 100%;
    width: 100%;
    transition: transform 1s ease;
    z-index: 1;
}
.DateSelect {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.fade-in {
    display: block;
    animation: fadeIn 0.3s forwards;
}

.fade-out {
    animation: fadeOut 0.3s forwards;
}


.selectionbuttons {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #00000080;
    color:#c5c5c5;
    border-radius: 0.4em;
    outline: none;
    border: none;
    width: 80%;
    height: 5vh;
    font-size:large;
    transition: transform 0.2s ease;
}

.selectionbuttons:hover {
    transform: translateX(20%);
}

.Innehåll {
    background-color: black;
    width: 70vw;
    height: 90vh;
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.Astonhoho {
    display:flex;
    padding: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1));
    height: calc(50vh - 3rem);
    width: calc(100vw - 10rem);
}

.Följ {
    display: table;
    color: #c5c5c5;
    height: calc(80% - 2em);
    width: calc(50% - 2em);
    background-color:transparent;
    border-color: #c5c5c5;
    border-radius: 0.5rem;
    border-style:solid;
    padding: 1em;
    margin: 0.5rem;
}

.Credit {
    position: absolute;
    right: 1em;
    align-self: flex-end;
    text-align: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(85, 72, 72);
}